h1, h2, h3, footer, body, nav ul li a {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

h1 {
    font-size: 45px;
    font-weight: bolder;
    color: #FFCACC;
    text-decoration: none;
}

h2 {
    font-size: 25px;
    font-weight: bolder;
    color: #DBC4F0;
}

h3 {
    font-size: 45px;
    color: #DBC4F0;
}

body {
    background: #8294C4;
    color: #fff;
    margin-bottom: 200px;
}

img {
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

nav ul li {
    text-align: center;
    margin: 30px;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 35px;
    color: #FFCACC;
}

footer {
    left: 0;
    width: 100%;
    font-size: 30px;
    color: #DBDFEA;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    img {
        width: 200px;
    }

    .menu ul li {
        margin-bottom: 10px;
    }

    .menu ul li a {
        font-size: 16px;
        font-weight: normal;
    }
}
